@font-face {
    font-family: "Monaco";
    src: url("../font/monaco.ttf");
}
@font-face {
    font-family: "TexGyre";
    src: url("../font/texgyrepagella-regular.otf");
}
@font-face {
    font-family: "TexGyre-bold";
    src: url("../font/texgyrepagella-bold.otf");
}
@font-face {
    font-family: "Kaiti";
    src: url("../font/AdobeKaitiStd-Regular.otf");
}

html {
    font-family: Monaco;
}

h1.title {
    text-align: left;
}

body {
    padding-right: 30px;
    padding-left: 30px;
    min-width: 400px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p, a {
    font-size: 17px;
}

a[href^="http"], a[href^="mailto"], a[href^="file"], a[href^="."] {
    color: gray;
    text-decoration: none;
}

div.outline-2 {
    margin-top: 50px;
}

section.bio {
    display: flex;
    align-items: center;
}

div.bio-left img {
    width: 230px;
}

.avatar img {
    clip-path: path('M 8,114 C 8,40.3 55.3,8 114,8 C 172.7,8 220,40.3 220,114 L 220, 316 L 8, 316 Z');
}

div.avatar {
    clip-path: path('M 0,114 C 0, 34.8 51.8, 0 114, 0 C 176.2, 0 228, 34.8 228, 114 L 228, 324 L 0, 324 Z');
    background: #607D8B;
}

div.nju img {
    width: 50px;
}

div.nju {
    height: 0px;
    position: relative;
    left: 158px;
    top: 177px;
    z-index: 1;
}

.links {
    display: flex;
}

.links a {
    flex: auto;
}

.links a i {
    width: -webkit-fill-available;
}

.links a i:before {
    width: -webkit-fill-available;
    text-align: center;
    display: block;
}


div.bio-left {
    float: left;
}

h2#chinese-name {
    font-size: 50px;
    font-family: Kaiti;
}

div.bio-right {
    display: inline-block;
    max-width: calc(100% - 250px);
    margin-left: 20px;
}

.bio-right .outline-2{
    margin-top: 0px;
}
.bio-right h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 860px) {
    div.bio-left {
        visibility: hidden;
        width: 0;
    }
    div.bio-right {
        display: block;
        max-width: inherit;
        margin-left: auto;
    }
}

table {
    margin-left: 20px;
    margin-right: 0px;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    min-width: -webkit-fill-available;
}

td.org-left {
    display: list-item;
}

#postamble, .validation a {
    color: rgba(0,0,0,0);
}

.pub-title, .coauthors {
    margin: 0px;
}

.pub-info {
    display: flex;
    align-items: center;
}

.pub-links {
    margin-left: auto;
    margin-right: 0;
}

.pub-link {
    border-radius: 3px; 
    margin: 3px;
    padding:2px;
    font-size: 14px;
}

.pub-link {
    color: black;
    background-color:rgb(230, 230, 230);
}

.pub-intro {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 27px;
}

.coauthors, .pub-info, .pub-intro {
    margin-left: 22px;
    margin-right: 18px;
}

.pub-summary {
    font-family: TexGyre-bold;
    font-size: 20px;
}

.coauthors, .pub-info, .pub-intro {
    font-family: Monaco;
    font-size: 17px;
}

.JC * {
    display: inline;
}

/* color palettes for EVA unit 01 */

.C {
    color: #60289B;
}

.J {
    color: #F58D39;
}

.M {
    color: #B8E84C;
}

.pub-item {
    margin-top: 15px;
}

.org-right {
    text-align: right;
}